<form #loginForm = "ngForm" (ngSubmit)="doLogin(user)">
        <input type="email" [(ngModel)]="user.email" #email="ngModel"  class="form-control"  name="email" placeholder="EMAIL" required >    
        <input type="password" [(ngModel)]="user.password" #password="ngModel"  class="form-control" name="password"  placeholder="PASSWORD"  required />
        <input class="btn btn-primary" type="submit" value="submit" [disabled]="!loginForm.form.valid" />
</form> 
<div class="text-right">
    <a  class="forgot-password">FORGOT PASSWORD</a>
</div>
<div class="socialIcons form-group text-center col-md-6 col-sm-6 col-xs-12 col-sm-offset-3">
<ul>
    <li><img src="assets/img/facebook.png"  /></li>
    <li><img src="assets/img/google-plus.png"  /></li>
    <li><img src="assets/img/twitter.png" /></li>
</ul>
</div>
