<div class="header">
	<div class="header-wrapper">
		<div class="container">
			<div class="row logo-section">

				<div class="col-md-6 col-sm-6 col-xs-6 logo header-txt">
					<a data-ng-click="logoClick()">
						<img alt="" src="assets/img/newlogo.png" />
					</a>
				</div>
				<div class="myAccount col-md-6 col-sm-6 col-xs-6 logo-right-sec pull-right">
					<div class="dropdown">
						<a  class="user-info dropdown-toggle" (click)="open(content)" >
							<span>Login or Register</span> </a>
                        <template ngbModalContainer #content let-c="close" let-d="dismiss">
                        <div class="modal-body" style="color:black;">
								<ngb-tabset type="pills">
									<ngb-tab title="Register">
										<template ngbTabContent>
											<Register></Register>
										</template>
									</ngb-tab>
									<ngb-tab title="Login">
										<template ngbTabContent>
											<login></login>	
										</template>
									</ngb-tab>
								</ngb-tabset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                        </div>
                        </template>
					</div>

					<div class="notification-alert"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="">
	<div class="records-wrapper clearfix">
	
	</div>
</div>
<!-- Records block ends -->



